body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.301);
    color: black;
}
footer{
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
section{
    padding: 10px;
}
.card>*{color: white;}